@import url('https://fonts.googleapis.com/css?family=Courgette|Slabo+27px');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Sidans utseende */
body {
    background: url(urlhttps://cdn4.matsmart.se/sites/all/themes/retailshop/images/bg.jpg);
    background-attachment: fixed;
}
div.kontainer {
    width: 800px;
    padding: 30px;
    color: #FFF;
    background: linear-gradient(to bottom, #627d4d 0%,#1f3b08 100%);
    margin: 20px auto;
    border-radius: 5px; 
    font-family: sans-serif;

} 
header {
    padding: 20px 0 ; 
    display: grid; 
    grid-template-columns: auto auto; 
    justify-content: space-between;
}
h1 {
    font-family: 'Courgette', cursive;
    font-size: 80px;
    text-align: center;
    text-shadow: 3px 3px 5px #000;
}  
p {
    color: black;
}
main {
    display: grid; 
    grid-template-columns: auto auto auto ; 
    grid-gap: 10px;
}
div.vara {
    font-family: sans-serif;
    font-size: 14px; 
    background: #FFF;
    padding: 20px;
    border-radius: 5px; 
    
}

.vanster {
    float: left;
    margin-right: 20px;
}
.hoger {
    float: right;
    margin-left: 20px;
}
hr {
    clear: both;
    visibility: hidden;
}
.textHoger {
    text-align: right;
} 

img {
    padding: 20px;
    height: 250px ; 
    width: 200px;
} 

table { 
    width: 100%; 
    background: #eeeeee; 
    text-align: center; 
    vertical-align: middle; 
    border-collapse: collapse; 
    margin-top: 20px; 
    font-weight:bold; 
    cursor:pointer;
} 

table, th, td { 
    border: 1px solid #eeeeee; 
    color: black; 
   
} 

table #kop:hover {
    background: rgb(0, 80, 0); 
} 
table #plus:hover, table #minus:hover {
    background: #bbbbbb;
}  

table #kop {
    background-color: green;
}  

#korgen {
    width: 200px; 
    border: 1px solid #eeeeee; 
    text-align: right; 
    padding :5px;  
    border-radius: 5px; 
    background: #eeeeee; 
    color: black;
}
#antalVaror {
    background-color: darkgreen; 
    border-radius: 50%;
}